body {
    background-color: rgb(104, 104, 104);
    overflow-y: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    align-items: center;
}

.authorize {
    margin: 0 auto;
}

.login {
    display: block;
    width: 250px;
    padding: 10px 0 10px 5px;
    font-size: 20px;
}

.password {
    display: block;
    width: 250px;
    padding: 10px 0 10px 5px;
    font-size: 20px;
    margin-top: 5px;
}

.send {
    display: block;
    width: 100%;
    padding: 20px 0;
    margin-top: 20px;
}

.back {
    position: absolute;
    left: 5px;
    top: 5px;
    text-decoration: none;
}


.IsValidUser {
    text-align: center;
    display: block;
    margin: 10px 0 0 0;
    font-size: 22px;
    color: #cf0202;
}



/*----- Стилизация ошибок -----*/
.field-validation-error {
    display: block;
    text-align: center;
    font-weight: 600;
    color: #ed1717;
}

.password.input-validation-error{
    border:1px solid red;
}

.login.input-validation-error {
    border: 1px solid red;
}