@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
@using Pizza.Models.ViewModels;
@model PromoViewModel;
<link rel="stylesheet" href="~/css/slide.css">

<div class="actions">
    <div class="actions-items">
        @foreach(var res in Model.PromoActions)
        {
            <div class="item-action">
                <div class="item-action-image">
                    <img src="@res.TitleImg" alt="">
                </div>
                <div class="item-text">
                    @Html.Raw(res.Content)
                </div>
                <div class="item-title">
                    <h2>Подробнее</h2>
                </div>
            </div>
        }
    </div>
</div>





<script>
    document.querySelectorAll(".item-title").forEach((e) => {
        e.addEventListener("click", async c => {
            c.target.parentNode.parentNode.childNodes[3].classList.toggle("open")
            console.log(c.target)
        })
    })
</script>