@using System.Security.Claims;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Layout/LayoutMain.css">
    <link rel="stylesheet" href="~/css/normalize.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <div class="burger">
                <span></span>
            </div>
            <div class="header">
                <a href="/" class="logo">
                    <img src="~/images/mainImage/Логотип.svg" alt="">
                </a>
                <nav class="navigation">
                    <ul class="menu">
                        <li class="btn__list">
                            <a href="#" class="btn__link">
                                Пицца
                            </a>
                        </li>
                        <li class="btn__list">
                            <a href="#" class="btn__link">
                                Японская кухня
                            </a>
                        </li>
                        <li class="btn__list">
                            <a href="#" class="btn__link">
                                Напитки
                            </a>
                        </li>
                        <li class="btn__list">
                            <a asp-action="Index" asp-controller="Stocks" class="btn__link">
                                Акции
                            </a>
                        </li>
                        <li class="btn__list">
                            <a href="#" class="btn__link">
                                Контакты
                            </a>
                        </li>
                        @if(User.FindFirst(ClaimsIdentity.DefaultRoleClaimType)?.Value == "admin")
                        {
                            <li class="btn__list">
                                <a href="/products" class="btn__link" style="color:red; font-size:18px;">
                                    Панель администратора
                                </a>
                            </li>
                        }
                    </ul>
                </nav>
                <div class="basket">
                    @await Component.InvokeAsync("Basket")
                </div>
            </div>
        </div>
        @RenderBody()
    </div>
</body>
</html>


