@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<link rel="stylesheet" href="~/css/Layout/LayoutAdmin.css" />



<div class="container">
    <div class="main">
        <div class="sidebar">
            <div class="sidedar-main">
                <p class="management__name">Управление</p>
                <div class="management__nav">
                    <ul class="management-menu__list">
                        <li>
                            <a asp-action="Index" asp-controller="Stocks" asp-area="Admin" class="management-menu__link management-nav__slide"><span><img src="/images/adminImage/Mask group.svg" alt=""></span>Слайд</a>
                        </li>
                        <li>
                            <a href="#" class="management-menu__link management-nav__menu"><span><img src="/images/adminImage/Mask group-1.svg" alt=""></span>Меню</a>
                            <ul class="sub-management-menu__list">
                                <li>
                                    <a asp-action="Index" asp-controller="Products" asp-route-productName="pizza" class="management-menu__link sub-management-menu__link sub-management-nav__menu pizza-sub-management-nav__menu"><span><img src="/images/adminImage/Mask group.svg" alt=""></span>Пицца</a>
                                </li>
                                <li>
                                    <a asp-action="Index" asp-controller="Products" asp-route-productName="roll" class="management-menu__link sub-management-menu__link sub-management-nav__menu rolls-sub-management-nav__menu"><span><img src="/images/adminImage/Mask group.svg" alt=""></span>Роллы</a>
                                </li>
                                <li>
                                    <a asp-action="Index" asp-controller="Products" asp-route-productName="drink" class="management-menu__link sub-management-menu__link sub-management-nav__menu drink-sub-management-nav__menu"><span><img src="/images/adminImage/Mask group.svg" alt=""></span>Напитки</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="management-menu__link management-nav__info"><span><img src="/images/adminImage/Mask group-2.svg" alt=""></span>Информация</a>
                        </li>
                    </ul>

                </div>
            </div>
            <a href="#" class="sideBarArrow"><img src="/images/adminImage/arrowSideBar.png" alt=""></a>
        </div>
        <div class="window__settings">
            <div class="window__settings-main">
                @RenderBody()
            </div>
        </div>
    </div>
</div>


<script>
    // Настройка сайдбара
    const arrowSideBar = document.querySelector(".sideBarArrow")
    const sidebar = document.querySelector(".sidebar")
    arrowSideBar.addEventListener("click", async e => {
        e.preventDefault()
        arrowSideBar.classList.toggle("open")
        sidebar.classList.toggle("open")
    })
</script>