@using Pizza.Models;
@model User;

<link rel="stylesheet" href="~/css/login.css">

<a asp-controller="Home" asp-action="Index" class="back">Вернуться на главную</a>

<form asp-action="Login" asp-controller="Account" method="post">
    <div class="container">
        <div class="authorize">
            <span asp-validation-for="Login"></span>
            <input type="text" asp-for="Login" class="login" placeholder="Логин">
            <span asp-validation-for="Password"></span>
            <input type="password" asp-for="Password" class="password" placeholder="Пароль">
            <input type="submit" class="send" value="Авторизация"/>
        </div>
    </div>
</form>




<script>
    
</script>